<article class="lesson">
  <%= time_tag lesson.start_at, lesson_start_end(lesson), :class => "lesson-time-info" %>
  <h3 class="lesson-title"><%= lesson.title %></h3>
  <span class="course-module"><%= lesson.course_module.title.present? ? lesson.course_module.title : lesson.course_module.code %></span>
</article>