/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height:100% }

body, h1, h2, h3, h4, p { margin: 0; }

/*
 * Remove text-shadow in selection highlight
 * These selection declarations have to be separate
 */

::-moz-selection { background: #b4d5ff; color: #fff; text-shadow: none; }
::selection { background: #b4d5ff; color: #fff; text-shadow: none; }

/* Improve readability when focused and hovered in all browsers
a:hover, a:active { outline: 0; }

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7
 * 2. Remove the gap between images and borders on image containers
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
figure { margin: 0; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}